 body 
      {
          background-image:url(https://images.pexels.com/photos/380330/pexels-photo-380330.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) ; 
      }
    hr
      {
           background color:black;
           width:30%;
           height:0; 
           border-style: dotted none none none;
           border-width: 5;
           border-color: black;
           
      }
     a { color:red;
    text-decoration-line: none ; } 
h1
{
 color:#66BFBF
}
